.date-picker {
    padding: 10px;
    background: #fff;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .iconfont {
            font-size: 14px;
            color: #6c6666;
        }
    }
    &-content {
        margin: 10px 0;
        border-bottom: 1px solid #ccc; 
    }
    &-week-cell {
        width: 32px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    &-date-cell {
        width: 32px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &[fade='yes'] {
            color: #ccc;
        }
        &[select='yes'] {
            background: lightblue;
        }
        &[isToday='yes'] {
            color: #055feb
        }
    }
    &-actions {
        text-align: center;
        color: #055feb;
        & > span {
            margin: 0 10px;
        }
    }
}