.date-picker {
    padding: 10px;
    border: 1px solid red;
    color: #fff;
    // width: 200px;

    &-header {

    }
    &-content {
        
    }
    &-weekname {

    }
    &-week-cell {
        width: 32px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    &-week-row {

    }
    &-date-cell {
        width: 32px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}