$color: #055feb;
.addTodo-container {
    // border: 1px solid red;
    position: relative;
    & > .iconfont {
        position: absolute;
        left: 20px;
        top: 50%;
        font-size: 1.5em;
        transform: translate(0, -50%);
        font-weight: 500;
        color: white;
    }
    & > .icon-star {
        left: unset;
        right: 25px;
        &[stared='yes'] {
            color: #ff1e18;
        }
    }
    & > .icon-canlender {
        left: unset;
        right: 60px;
        &[hasdue='yes'] {
            color: #ff1e18;
        }
    }
    & > input {
        width: calc(100% - 20px);
        margin: 20px 10px;
        line-height: 40px;
        height: 40px;
        padding-left: 40px;
        padding-right: 80px; 
        font-size: 16px;
        border: none;
        border-radius: 2px;
        background: rgba(5,95,235,0.75);
        color: white;
        &:focus {
            outline: none;
        }
        &::-webkit-input-placeholder {
            color: white;
        }
    }
    & > .datePanel {
        // border: 1px solid red;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 2;
    }
}